* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {

  display: flex;
  justify-content: flex-end;
  background-color: #ff00ff ;
  padding: 30px 20px;
}

.top > div {
  height: 70px;
  flex-basis: 140px;
  background-color: #fbb3ff;
  margin: 0 10px;
}

.top > :first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.sidbar {
  background-color: #d8ffb6;
  width: 300px;
}

.sidbar2 {
  background-color: #00b522;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  padding: 20px;
  flex-grow: 1;
  justify-content: center;
}

.sidbar2 > div {
  background-color: #fff75a;
  height: 130px;
  flex-basis: 200px;
  margin: 10px;
}

.footer {
  background-color: #52a1ff;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer > div {
  background-color: #b6e7ff;
  flex-basis: 45%;
  max-width: 600px;
  margin: 10px;
  height: 40px;
}